<script type="text/x-template" id="grid_template">
    <div id="gridWrapper">
        <div id = "row" v-for = "m in length" class = row>
            <div id ="edgeline" class=row>
                <div id="line" v-for="n in length" class = edgeWrapper>
                    <div v-bind:class="nodes[m-1][n-1].class" v-on:click="nodeClick(nodes[m-1][n-1])"></div>
                    <div v-bind:class="hedges[m-1][n-1].class"  v-on:click="edgeClick(hedges[m-1][n-1])"></div>
                </div>
                <div v-bind:class="nodes[m-1][length].class" v-on:click="nodeClick(nodes[m-1][length])"></div>
            </div>
            <div id ="vedgeline" class = row>
                <div id="vedges" v-for="n in (length + 1)" class = edgeWrapper>
                    <div v-bind:class="vedges[m-1][n-1].class" v-on:click="edgeClick(vedges[m-1][n-1])"></div>
                    <div class="left"></div>
                </div>
            </div>
        </div>
        <div id ="lastline" class=row>
            <div v-for="n in length" class = edgeWrapper>
                <div v-bind:class="nodes[length][n-1].class" v-on:click="nodeClick(nodes[length][n-1])"></div>
                <div v-bind:class="hedges[length][n-1].class" v-on:click="edgeClick(hedges[length][n-1])"></div>
            </div>
        </div>
        <div v-bind:class="nodes[length][length]"></div>
    </div>
</script>